<mydeq-header></mydeq-header>
<div class="clearfix"></div>
<div class="mydeq-global-content-main pt-3">
  <div class="container" [ngClass]="{'mydeq-global-confirmation-container':utils.isConfirmationPage}">
    <div class="card card-inverse bg-primary mb-3" *ngIf="utils.placeName">
      <div class="card-body p-2">
        <h3 class="pull-left text-secondary font-weight-bold mb-0 pl-1">{{utils.placeName}}</h3>
        <h3 class="pull-right text-secondary font-weight-light mb-0 pl-1">{{utils.placeAddress}}</h3>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-8"></div>
      <div class="col-4" id="saveExitContainer" *ngIf="utils.showSaveAndExit">
          <button id="saveexitbtn" class="btn btn-primary float-right" type="button" (click)="toggledropdown()">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE APPLICATION &amp; EXIT
            <i class="fa fa-chevron-right"></i>
          </button>
          <div class="collapse" [class.show]="toggledSaveExit">
            <div id="saveExitCollapse" class="card bg-primary w-50 text-secondary float-right">
              <div class="card-body">
                <h5 class="font-weight-normal">You can save this application (up to the last page of data entered) to your myAPPLICATIONS tab to complete at a later
                  date by clicking SAVE & EXIT. Or click CANCEL to continue filling out this application now.</h5>
              </div>
              <div class="clearfix"></div>
              <div class="card-footer p-0">
                <button type="button" class="btn btn-secondary float-left text-primary" (click)="toggledropdown()">
                  <span class="arrow">
                    <i class="fa fa-chevron-left"></i>
                  </span> CANCEL
                </button>
                <button type="button" class="btn btn-secondary float-right text-primary" style="top:5px;right:20px;" (click)="saveAndExit()">
                  SAVE &amp; EXIT
                  <span class="arrow">
                    <i class="fa fa-chevron-right"></i>
                  </span>
                </button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <section class="jumbotron {{pageClass}}">
      <div class="card card-default">
        <div class="card-header px-0 mx-4 pb-0">
          <h1 class="card-title text-primary divider-horizontal font-weight-bold pb-3">{{utils?.title}}</h1>
          <!--Comments -->
          <comments *ngIf="utils.reviewComments && utils.reviewComments.length>0" (editEvt)="editPage($event)" [isPageLevel]="'true'" [defaultClass]="'comments'"  [reviewList]="utils.reviewComments"></comments>
        </div>
        <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>        
      </div>
    </section>
  </div>
</div>
<div class="clearfix"></div>
<mydeq-session-timeout> </mydeq-session-timeout>
<mydeq-footer></mydeq-footer>

<div *ngIf="utils.showLoadingSign" class="modal-backdrop fade show" style="z-index: 1052;"></div>
<div *ngIf="utils.showLoadingSign" class="modal fade show" id="mydeq-busy" style="z-index: 1055;">
  <div class="text-center">
    <div class="mydeq-busy">
      <div class="mydeq-busy-spinner"></div>
    </div>
  </div>
</div>
