/* You can add global styles to this file, and also import other style files */
@import 'bootstrap';

body {
	background-image: url('../assets/img/Seal_Brown_248x248.svg');
	background-position: right top 65px;
	background-repeat: no-repeat;
	font-size: 14px;
	line-height: 1.42857143;
	color: #604543;
    background-color: #d2c1ab;
}

.header-nav {
	border-bottom: 4px solid $teal;
	margin-bottom: 20px;
	min-height: 75px;
}

.footer-nav {
	border-top: 4px solid $teal;
	margin-top: 20px !important;
}


.mydeq-global-content-main {
	padding-top: 20px;
    padding-bottom: 70px;
}

.mydeq-global-content-main .jumbotron {
	padding: 2em;
}

.take-tour.permit-page {
	display: none;
}

.mydeq-global-content-main .jumbotron.default-page {
	padding: 0;
	.card-default {
		.card-body {
			padding: .4rem 1.875rem;
			min-height: 500px;
		}
		.card-footer {
			padding: 0.75rem 0 0 0;
		}
	}
}

.confirmation {

	-webkit-background-size: cover;
	background-color: transparent;
	background-image: url('../assets/img/confirmation_bg_whtseal.jpg');
	background-position: left top;
	background-size: cover;

	.mydeq-global-content-main {
		margin-top: 6%;
		.container {
		  width: 700px;
		}

	}
	.card-default {
	  .card-body {
	 	    min-height: 300px !important;
		}
	}
} 


.mydeq-busy {
	@media (min-width: 48em) {
       left: 40%;
    }
	@media (max-width: 47.9em) {
       left: 30%;
    }
    @media (max-width: 33.9em ) {
       left: 20%;
    }
	padding: 0;
	position: absolute !important;
	top: 30%;
}

.mydeq-busy-spinner {
	background-image: url('../assets/img/mydeq_wait_icon.gif');
	display: inline-block;
	height: 200px;
	left: 14px;
	position: absolute;
	top: 12px;
	width: 200px;
	z-index: 500;
}

#saveexitbtn{
	padding: 0.5rem 0.5rem;
	font-size: .9rem;
	font-weight: normal;
}

#saveExitCollapse {
	position: absolute;
	transform: translate3d(0px, 38px, 0px);
	min-width: 400px;
	z-index: 1000;
	left: -30px;
	top: -5px; 
}


.dropdown {
	.btn {
		width: 100%;
		text-align: left;
		padding: .4rem 1rem .4rem .5rem;
		&.dropdown-toggle::after {
			font: normal normal normal 14px/1 FontAwesome;
			/*content: "\f078";*/
			font-size: 1.1em;
			position: absolute;
			left: 96%;
			top: 7px;
			border: 0;
			margin-left: .5em;
		}
		&.dropdown-toggle.show::after {
			content: "\f077";
		}
	}
	.btn-sm {
		max-width: 160px;
		text-align: left;
		padding: 0.2rem .85rem;
		font-weight: 400;
		margin-right: 10px;
		&.dropdown-toggle::after {
			font: normal normal normal 14px/1 FontAwesome;
			content: "\f078";
			font-size: 1.1em;
			position: absolute;
			left: 78%;
			top: 5px;
			border: 0;
			margin-left: .5em;
		}
		&.dropdown-toggle.show::after {
			content: "\f077";
		}
	}
	.btn-primary:focus, .btn-primary.focus {
		box-shadow: none;
	}

	.form-control:focus{
		color:#000;
	}
}
.dropdown-menu {
	font-size: 1rem;
	max-height: 209px; 
	overflow-y: auto;

	&.open {
		display: block;
	}
	.dropdown-item {
		cursor: pointer;
	}
	.dropdown-item:not(:last-child) {
		border-bottom: 1px solid #fff;
	}
	.divider {
		height: 1px;
		margin: 9px 0;
		overflow: hidden;
		background-color: $white;
	}
	.search {
		margin: 0px 5px 0px 0px;
		border-bottom: 0;
		&:focus, 
		&:hover {
			background-color: transparent;
		}
		.input-group {
			border: 1px solid;
		}
	}
}

.dropdown-sm {
	font-size: .9rem;
	.dropdown-item {
		padding: 3px 1rem;
	}
}

table {
	thead th {
		font-weight: normal;
		border-bottom: 2px solid #e2dfd5;
		padding-left: 0 !important;
		text-align: left;
		padding-right: 0 !important;
		border-top: 0 !important;
	}
	th:before
	{
		content: '|';
		color: #e2dfd5;
		margin-right: 2px;
		font-weight: 300;
	}
	tbody  tr  td
	{
    	padding-left: .7em !important;
    	font-weight: 300;
		text-align: left;
		border-top: 0 !important;
	}
	tbody  tr  td.icon 
	{
		text-align: center;
		vertical-align: top !important;
	}
	tfoot {
		border-top: 1px solid #d2c1ab;
		tr:first-child td {
			padding-top: 1.25em;
		}
	}

	.table  {
		background-color: transparent !important;
	}

	&.table-bordered {
		thead th {
			padding-left: 0.5rem !important; 
			border-bottom:0;
		}
		th:before
		{
			content: none;
		}
		tbody  tr  td {
			border-top: 1px solid #d2c1ab !important;
		}
	}
	
}

.dashboard {
	& table {
		thead th {
			font-size: 15px;
			vertical-align: top !important;
			white-space: nowrap;
			text-align: left;
		}
		tbody  tr  td
		{
			font-size: 13px;
			font-weight: 400;

			&.empty {
				font-size: 15px;
			}
			.icon {
				text-align: center;
				vertical-align: top !important;
			}
		}
		tfoot {
			border-top: 0; 
		}
	}
}

.table-controls {
  .table {
		table-layout: auto;
    tbody tr {
			border-top: 2px #d2c1ab solid;
      &.invalid {
        border: 2px solid #f65234 !important;
			}					
      & td {
				padding: 5px 2px 5px !important;
				.form-control {
					padding: 0.45rem 0.25rem;
					font-size: 1rem;
				}
				.btn {
					padding: 0.45rem 0.75rem;
					font-size: 1rem;
				}
			}
			
    }
  }
}


.tooltip {
	.tooltip-inner {
		line-height: 1.2;
		clear: both;
		a {
			color: $tooltip-color;
			text-decoration: underline;
			float: right;
		}
		.h6 {
			line-height: 1.3;
		}
		&.inverse {
			color: #604543;
			background-color: #d2c1ab;
			width: 110px;
			font-size: 12px;
		}
	}
	&.bs-tooltip-right {
		.arrow {
			top: 45%;
		}
		.inverse.arrow::before {
			border-right-color: #d2c1ab;
		}
	}
	&.bs-tooltip-bottom .arrow {
		left: 50%;
	}	
}
.divider-vertical {
	border-right: 1px solid #604543;
	padding-right: 15px;
}
.divider-horizontal {
	border-bottom: 1px solid #d2c1ab;
	padding-right: 15px;
}
.btn-group {
	button:not(:first-child) {
		margin-left: 2px !important;
	}
}
.btn {
	.arrow {
		&.left {
			margin-right: 20px;					
		}	
		&.right {
			padding-left: .5rem;
			&.fa.fa-chevron-right {
				margin-right: -1rem;
				//padding-left: .5rem;
			}		
		}
	}
}

input[type=text].form-control, input[type=textbox].form-control {
	padding: 0.4rem 0.55rem;
	font-size: 1.1rem;

}

span.required::after, label.required::after {
  color: theme-color("primary");
  content: '*';
  font-size: 20px;
}



.has-danger .form-control, .has-danger .dropdown, .custom-file.has-danger, .has-danger select, .card-header.has-danger {
  border: 2px solid theme-color("danger");
}

.form-control:disabled, .form-control[readonly] {
  color: #c4adab;
}

.form-control:focus, .btn:focus, .btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
}

.form-control-plaintext {
	color: inherit;
}

.custom-checkbox {

	.custom-control-label {
		font-size: 1.25rem;
		font-weight: 500;
		padding-top:2px;
	}

  .custom-control-label::after {	  
		background-size: 60%;
		top: 0.05rem;
	}
	&.has-danger .custom-control-label::before {
		border: 2px solid theme-color("danger");
	}
}

.custom-control-label {
	font-size: 1.75rem;
	font-weight: 300;
	margin-top: -.3rem;
}

.custom-control-label::before {
	top: 0;
}

.custom-radio {
	.custom-control-label {
		font-size: 1.25rem;
		font-weight: 500;
		padding-top: 5px;
		padding-bottom: 5px;		
	}
  .custom-control-input:checked~.custom-control-label:after {
		top: 0;
	} 
	&.has-danger > .custom-control-label:before {
		background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 30 30'%3E%3Ccircle r='14.431' cx='11.814' cy='11.569' fill='#D2C1AB'/%3E%3Ccircle r='15' cx='15' cy='15' fill='#F65234'/%3E%3Ccircle r='12' cx='15' cy='15' fill='#D2C1AB'/%3E%3C/svg%3E"), "#", "%23");
		background-repeat: no-repeat;
		background-size: 100%;
	}
	/* .custom-control-label {
		margin-bottom: 1rem !important;
		font-size: 1.85rem;
		font-weight: 300;
	} */
}

.custom-checkbox-sm, .custom-radio-sm {
	.custom-control-label {
		/* font-size: 1.1rem; */
		font-size: 1.25rem;
    	font-weight: 500;
		padding-top: 4px;
    	padding-left: 10px;
	}
	.custom-control-label::before, .custom-control-label::after {
	  width: 1.5rem;
	  height: 1.5rem;
		left: 1rem;
	}

}


.custom-radio-bottom {
	padding-left: 0;
	padding-top: 2rem;
  
	.custom-control-label {
	  font-weight: 400;
	  &::before, &::after {
		left: 35%;
		top: -2rem;
	  }
	}
	.custom-control-input:checked~.custom-control-label:after {
	  top: -2rem;
	}
}

.custom-control-indicator {
	top: 0;
}

.custom-file {
	height: auto;
  
	.custom-file-label {
	  padding: 0.75rem 0.75rem;
	  &::after {
		height: 100%;
		padding: 0.5rem 0.5rem;
	  }
	}
  }

.fade.show {
    display: block;
}
.btn-primary:hover {
    color: #fff;
    background-color: $teal;
    border-color: $teal;
}
.btn-qlist:hover {
    color: #fff;
    background-color: $teal;
    border-color: $teal;
}
.element-disabled {
    pointer-events: none;
    cursor: default;
}
.position-relative {
    position: relative;
}
.alert-danger {
	color: #fff;
    background-color: #f65234;
    border-color: #f65234;
}
.alert-warning {
  color: inherit;
  border-color: transparent;
  background: transparent;
}

.popover {
	min-width: 200px;
  &.bs-popover-bottom .arrow, &.bs-popover-top .arrow {
    left: 50%;
  }
  &.bs-popover-right .arrow, &.bs-popover-left .arrow {
    top: 50%;
  }
}


.deq-numberlist {
  margin-bottom: 20px;
  padding-left: 1.5em !important;
  background-position: left;
  font-weight: 300;
}

.warning {
  display: grid;
  float: left;
  padding-right: 10px;
}

.hidden {
  display: none;
}

.modal-footer {
  display: inline;
}
.modal.fade.show {
  display: block;
}
.modal-scroll {
  overflow: visible;
  position: absolute;
}

.cursor-pointer{
	cursor: pointer;
}

.d-grid {
	display: grid;
}

.mydeq-confirmation-document {
  cursor: pointer;
  height: 170px;
  .mydeq-confirmation-document-type {
    display: block;
    .mydeq-confirmation-document-icon {
      background: url('../assets/img/File_Icon_Blank.png') center center no-repeat;
      font-size: 24;
      font-weight: 700;
      height: 140px;
      line-height: 140px;
      text-align: center;
      width: 101px;
      &.mydeq-confirmation-document-icon-teal {
        color: theme-color("primary");
      }
    }
  }
  .mydeq-confirmation-document-message {
    display: none;
  }
  &:hover {
    .mydeq-confirmation-document-type {
      display: none;
    }
    .mydeq-confirmation-document-message {
      display: block;
    }
  }
}

.mydeq-confirmation-document-message {
  background-color: #fff;
  color: theme-color("primary");
  font-size: 24px;
  font-weight: 700;
  height: 120px;
  text-align: center;
}

.mydeq-textarea{
/*	width:97% !important;*/
	resize: none !important;
}

.btn-outline-secondary:hover{
	background-color: transparent !important;
}

span.requiredBefore::before, label.requiredBefore::before {
  color: theme-color("primary");
  content: '*';
  font-size: 20px;
}

/* Accordion*/
ngb-accordion {
	.card{		
		padding-bottom: 10px !important;

		.card-header{
			.btn-link {
				width: 100%;
				padding: 0;
				text-align: left;
			}
			
		}

		.card-primary{
			background-color: theme-color("primary");
			
			a{
				color: #fff;

				 .righticon{
						/* float: right !important; */
				 }
			 }
		}
		.card-body{
			min-height: auto !important;
			background-color: $light-cream !important;
		}
	}
}

.comments{
	padding:10px;	
	background-color: $light-cream !important;
	min-height:60px;
}

.section-comments{
	padding:10px;	
	background-color: #FFF !important;	
	min-height:60px;
}

.rejected{
	color:$red;
}

.form-control-append-icon {
	display: block;
	width: 25%;
	padding: 0px;
	margin-left: -50px;
	//font-size: 1.1rem;
	line-height: 3.5;
	color: inherit;
	background-color: #d2c1ab;
	background-clip: padding-box;
	border: 1px solid transparent;
	border-radius: 0;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.lightcream-bg{
	background-color: $light-cream !important;
}

.cream-bg{
	background-color: $cream !important;
}
.custom-select{
width:99%;
}


.custom-select:disabled{
	background-color: #94ADA7;
}


/* datepicker */

ngb-datepicker.dropdown-menu {
	max-height: none;
	border-radius: 0;
	border: 0;

	.ngb-dp-header {
		border-radius: 0;
	}

	.ngb-dp-header {
		background-color: #5c8885 !important;
		border-bottom: 1px solid #fff;
		padding-top: 0;
		.ngb-dp-arrow-btn {
			color: #fff;
		}
	}
	.ngb-dp-week.ngb-dp-weekdays {
		background-color: #5c8885 !important;
		border-bottom: 1px solid #fff;

		.ngb-dp-weekday {
			color: #fff;
		}
	}

	.ngb-dp-day:not(:last-child), .ngb-dp-weekday:not(:last-child) {
	  border-right: 1px solid #fff;
	}

	.btn-light:active:focus {
		border-radius: 0;
	}
	/** Selected Date Highlight **/
	.btn-light.bg-primary.text-white {
	  background: #faefdb !important;
	  border-radius: 0;
	  color: #604543 !important;
	}

	
	.btn-light {
		color: #fff;
	}
}

.btn-primary .btn-danger{
	padding: .55rem .75rem;
	font-size: 1.25rem;
  line-height: 1.25;
}

.btn-qlist {
	padding: .45rem 1.2rem;
    font-size: 1rem;
	line-height: 1;
	color: #fff;
    background-color: #5c8885;
    border-color: #5c8885;
}
.searchtags{
	padding:5px;
	margin:5px 5px 5px 0px;
	background: $teal;
	color: #fff;
	width:auto;
	float:left;
}

.remove{
	color:$tan2;
}

.modal-backdrop.fade {
	/* display: none; */
	display: block;
}

.modal-backdrop.fade.in {
	/* display: block; */
	display: none;
}
.modal-backdrop-bg{
	background-color: $modal-backdrop-bg;
}

.modal-content {
	border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-body h2 {
	font-size: 28px;
	line-height: 1.3;
}

.modal-footer>.btn-primary {
	border-radius: 0;
	margin-bottom: 0px !important;
	padding: 13px 30px;
	position: relative;
}

.modal-footer>.btn-primary-red {
	border-radius: 0;
	margin-bottom: -21px !important;
	padding: 13px 30px;
	position: relative;
	background-color: red;
	color: $white;
}

.modal-footer>.right {
	margin-right: -21px;
	padding-right: 50px;
}

.modal-footer>.left {
	margin-left: -21px;
	padding-left: 60px;
}

.pagination-left-arrow{
	position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #5c8885;
    //background-color: #5c8885;
    border: 0 solid;
	margin-left: -1px;
	cursor: pointer;
}

.pagination-disabled-left-arrow{
	position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #d2c1ab;
    //background-color: #5c8885;
    border: 0 solid;
    margin-left: -1px;
}

.pagination-right-arrow{
	position: relative;
    float: right;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color:#5c8885;
    //background-color: #5c8885;
    border: 0 solid;
	margin-left: -1px;
	cursor: pointer;
}

.pagination-disabled-right-arrow{
	position: relative;
    float: right;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #d2c1ab;
    //background-color: #5c8885;
    border: 0 solid;
    margin-left: -1px;
}


.pagination-dropDown{
	background: url('../assets/img/select_down_arrow.png') no-repeat 85% 15px !important;
	background-color: $teal !important;
 	width:100%; 
	height: 40px !important;
	padding:5px;
	padding-left: 15px;
}

.pagination-dropDown:focus{
	background: url('../assets/img/select_up_arrow.png') no-repeat 85% 15px !important;
	background-color: $teal !important;
	}

	
	.mydeq-darkbg{
		background-color: $tan3;
	}

	.coloumn-divider-vertical {
		border-right: 2px solid #d2c1ab;
		margin-right: 3px;
	}
	.thead-divider-horizontal {
		border-bottom: 1px solid #d2c1ab;
		padding-right: 15px;
		padding-top: 5px;
	}

	.mydeq-global-confirmation-container {
		margin-top: 6%;
		width: 700px !important;
	}
	
	.mydeq-confirmation-document {
		cursor: pointer;
		height: 170px;
		.mydeq-confirmation-document-type {
			display: block;
			.mydeq-confirmation-document-icon {
				background: url('../assets/img/File_Icon_Blank.png') center center no-repeat;
				font-size: 24;
				font-weight: 700;
				height: 140px;
				line-height: 140px;
				text-align: center;
				width: 101px;
				&.mydeq-confirmation-document-icon-teal {
					color: $teal !important;
				}
			}
		}
		.mydeq-confirmation-document-message {
			display: none;
		}
		&:hover {
			.mydeq-confirmation-document-type {
				display: none;
			}
			.mydeq-confirmation-document-message {
				display: block;
			}
		}
	}

	.mydeq-confirmation-document-message {
    background-color: $white;
    color: $teal;
    font-size: 24px;
    font-weight: 700;
		height: 120px;
    text-align: center;
}


.deq-border-bottom {
	border-bottom: 1.5px solid #d2c1ab;
	margin-top: 1rem;
    margin-bottom: 1rem;
	// margin-bottom: .5em;
    // padding-bottom: .3em;
}

.list-page {
	background: transparent;
	padding:0;

	& .card.list {
		border: 0;

		& .card-header {
			border-bottom:0
		}

		& .card-block {
			background: $nav-tabs-link-active-bg;
		}
	}
}

.nav-tabs .nav-link {
	color: #464a4c;
    background-color: #e2dfd5;
	margin-right: .15em;
	font-size:16px;
}

.badge-pill {
    padding-right: 1.0em;
    padding-left: 1.0em;
    border-radius: 20px;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    font-weight: lighter;
	font-size: 10px;
	cursor: pointer;
}

.badge-primary {
    color: #fff;
    background-color: #7ca68a;
}

.badge-primary-rejected {
    color: #fff;
    background-color: #d9534f;
}


.search-bar {
	width: 60%;
}

.pl-6 {
	padding-left: 4rem !important;
}

.search {
	&.input-group .form-control,
	&.input-group .form-control:focus,
	&.input-group .form-control:active,
	&.input-group .form-control:hover {
	  background-color: $white;
	  color: $brown;
	  border: 1px solid $teal;
	  padding-top: 0.2rem;
	  padding-bottom: 0.2rem;
	}
  }

  .text-fieldborder {
	border: 1px solid $teal;
  }

  .parent-qst{
	  background-color: #d2c1ab;
	  margin:0 2.1% 0 2.1%;
	  padding: 2%;
  }

  .dark-background{
	background-color: #d2c1ab;
	padding: 1%;
	margin: 0.4%;
  }
  
.popover {
	min-width: 200px;
  &.bs-popover-bottom .arrow, &.bs-popover-top .arrow {
    left: 50%;
  }
  &.bs-popover-right .arrow, &.bs-popover-left .arrow {
    top: 50%;
  }
}

span.globe-icon-md{	
	background: url('../assets/img/Global-icon.svg') center center no-repeat;	 
	padding: 10px 10px 4px 25px;	
	background-size: 25px 25px; 
}

span.globe-icon-lg{	
	background: url('../assets/img/Global-icon.svg') center center no-repeat;	 
	padding: 10px 10px 4px 25px;	
	background-size: 35px 35px; 
}

span.globe-icon-sm{	
	background: url('../assets/img/Global-icon.svg') center center no-repeat;	 
	padding: 10px 10px 4px 25px;	
	background-size: 20px 20px; 
}

.pop-over-class {
	min-width:auto;
	max-width:100%;
	//font-size: 10px;
}

.alert-color{
	color: #F65334;
	//font-size: 1.50em;
}