<div *ngIf="showAlert" class="modal-backdrop fade show" style="z-index: 1053;"></div>
<div *ngIf="showAlert" class="modal fade show" id="myModal" role="dialog" style="z-index: 1056;">
	<div class="modal-dialog modal-lg" style="z-index: 1056;">
		<div class="modal-content">
			<div class="modal-header mx-3 pl-0">
				<h2 class="modal-title font-weight-bold" [ngClass]="{'text-primary': !isDanger, 'text-danger': isDanger}" ><span [innerHTML]="alertObj.title"></span></h2>
			</div>
			<div class="modal-body p-3">
				<h3 class="mt-0"><span style="word-wrap: break-word;" [innerHTML]="alertObj.msg"></span></h3>
			</div>
			<div class="modal-footer">
				<button type="button" *ngIf="alertObj?.leftButtonText" class="btn float-left" [ngClass]="{'btn-primary': !isDanger, 'btn-danger': isDanger}" (click)="closeErrorMsg()"><span class="arrow left">
					<i class="fa fa-chevron-left"></i></span> {{alertObj?.leftButtonText}}</button>
				<button type="button" class="btn btn-primary float-right" [ngClass]="{'btn-primary': !isDanger, 'btn-danger': isDanger}" (click)="hideErrorMsg()">{{alertObj.mainButtonText}} <span class="arrow right"> <i class="fa fa-chevron-right"></i></span></button>
			</div>
		</div>
	</div>
</div>
