<div class="mydeq-page-content">
	<div class="page-header row mydeq-teal">
		<h2 class="font-weight-bold">PAGE NOT FOUND</h2>
	</div>
	<div class="mydeq-page-level-1">
	    <h2>Our apologies but we could not find a page matching your request.</h2>
	    <!-- action bar -->
	    <div class="actionbar">
			<!--<a class="btn btn-primary right" href="home">
	            <span class="arrow"><i class="fa fa-chevron-left"></i> </span>PAY YOUR BILL
	        </a>
	        <div class="clearfix"></div>-->
	    </div>
	</div>
</div>
