<form class="form-horizontal" [formGroup]="pageForm">
  <div class="card-body">
    <h3>{{pageText?.header}}</h3>
    <h6 class="pl-2">{{pageText?.sub_header}}</h6>
    <div *ngFor="let error of errorsList" class="alert alert-danger text-center" role="alert">{{error}}</div>
    <div class="custom-controls-stacked pl-4 pt-4">
      <div class="custom-control custom-radio" *ngFor="let company of companyList; let i=index" [ngClass]="{'has-danger': errorFields['companyCustID']}">
        <input type="radio" class="custom-control-input" [value]="company.companyCustId" [id]="'company_' + i" formControlName="companyCustID"
          required>
        <label [attr.for]="'company_' + i" class="custom-control-label">
          {{company?.companyName ? company?.companyName : utils?.userDetails?.first_name + ' ' + utils?.userDetails?.last_name}}
        </label>
      </div>
      <div class="divider-horizontal mb-3"></div>
      <div class="custom-control custom-radio" [ngClass]="{'has-danger': errorFields['companyCustID']}">
        <input type="radio" class="custom-control-input" value="ADD" id="addCompany" formControlName="companyCustID" required>
        <label class="custom-control-label" for="addCompany">Add a Company/Agency
        </label>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <button type="button" class="btn btn-primary float-left" (click)="goBack()">
      <span class="arrow left">
        <i class="fa fa-chevron-left"></i>
      </span>BACK
    </button>
    <button [disabled]="!enableContinue" type="button" class="btn btn-primary float-right" (click)="pageContinue(pageForm.getRawValue())">
      {{pageText?.lbl_continue}}
      <span class="arrow right">
        <i class="fa fa-chevron-right"></i>
      </span>
    </button>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</form>
<!-- <mydeq-alert-modal></mydeq-alert-modal> -->